.FtContainer {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 75px;
  flex-grow: 3;
  background-color: #2E3440;
  color: #ECEFF4;
  z-index: 10;
  box-shadow: -.5px 0 5px 1px #434C5E;
  /* overflow: hidden; */
}

.FtContent {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  padding: 15px 0;
  font-weight: 200;
}

.FtContent .React {
  color: #88C0D0;
  font-weight: 500;
}

.FtContent .Github {
  color: #BF616A;
  font-weight: 500;
}

.FtContent .Additional p {
  font-size: 15px;
}

.FtContent .Additional p span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: italic;
}

.FtContent .Additional p a {
  font-weight: 500;
  text-decoration: underline;
  transition: 0.3s;
}

.FtContent .Additional p a:hover {
  color: #88C0D0;
}
