@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
/* @import url('node_modules/nord/src/nord.css'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
<<<<<<< HEAD
  overflow-x: hidden;
  /* overflow-y: hidden; */
=======
  /* overflow-x: hidden; */
>>>>>>> e71a8800f13b6f4b3fc14287e5a35f7da0396498
}

*:focus {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ECEFF4;
  color: #2E3440;
}

.MainContainer {
  display: flex;
  flex-flow: column;
  height: 100vh;
  width: 100%;
}

.ContentContainer {
  display: flex;
  flex-flow: row;
  /* align-items: center; */
  justify-content: center;
  /* width: 100vw; */
  /* height: inherit; */
  flex-grow: 3;
  background-color: #ECEFF4;
}
